.page-header
  = link_to readings_path, class: 'btn btn-default' do
    %i.fas.fa-arrow-left
    Back
  = link_to @reading, class: 'btn btn-primary' do
    %i.fas.fa-info-circle
    Show
  %h1 Editing reading

= render 'form'
