.page-header
  = link_to batches_path, class: 'btn btn-default' do
    %i.fas.fa-arrow-left
    Back
  = link_to @batch, class: 'btn btn-primary' do
    %i.fas.fa-info-circle
    Show
  %h1 Editing batch

= render 'form'
