.readings {
  .panels {
    i.fas {
      font-size: 100px;
      margin: auto;
    }
  }
  .chart {
    height: 200px;
    margin-bottom: 30px;
    width: 100%;
  }
  .new-reading {
    margin-bottom: 10px;
  }
}